.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 250px;
  width: 250px; 
}

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.btnleft {
  margin-right: 10px;
  height: 100px;
  width: 100px;
  box-shadow: 0 0 20px 2px rgba(0,0,0, .1);
  transition: 1s;
}

.btnleft:hover {
	transform:scale(1.2);
	z-index:2;
}

.btnright {
  /* margin-left: 20px; */
  height: 100px;
  width: 100px;
  box-shadow: 0 0 20px 2px rgba(0,0,0, .1);
  transition: 1s;
}

.btnright:hover {
	transform:scale(1.2);
	z-index:2;
}